* {
    /* border: 2px solid red; */
}

:root {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;

    /* VARIABLES */
    --bg-clr: #f4f4f4;
    --main-clr: #e4e4e4;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    z-index: 0;

    background-color: var(--main-clr);
}

header h1 {
    font-size: 3rem;
}

header button {
    width: 128px;
}

main {
    flex: 1;
    padding: 2rem;
    background-color: var(--bg-clr);

    display: flex;
    flex-direction: column;
    align-content: center;
}

/* TABLE */
table {
    flex: 0;
}

caption, thead {
    font-weight: bold;
}

caption {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 2rem;
}

thead {
    background-color: var(--main-clr);
}

tbody tr:nth-child(even) {
    background-color: white;
}

tbody tr:nth-child(even) {
    background-color: #ebedeedc;
}

/* DIALOG */
dialog {
    justify-self: center;
    padding: 1.5rem;
}

dialog h1 {
    margin-bottom: 1rem;
}

form {
    display: grid;
    grid-template: repeat(2, 1fr) / [col-start] repeat(3, 1fr) [col-end];
    gap: 1rem;

    align-items: center;
}

.read {
    grid-column: col-start / span 2;
}

/* FORM INPUTS */
form div {
    display: flex;
    gap: 4px;
}

form input, form textarea {
    flex: 1;
    padding: 4px;
}

form button {
    justify-self: end;
    width: 128px;
}